<div class="wrapper">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        Gyoo
      </a>
      <a class="navbar-item" routerLink="/resume">
        Resume
      </a>
      <a class="navbar-item" routerLink="/projects">
        Projects
      </a>
      <a class="navbar-item" routerLink="/hobbies">
        Hobbies
      </a>
      <a class="navbar-item" href="https://github.com/Gyoo/Gyoo.ooo" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>

      <a role="button"
         (click)="toggleNavbar()"
         class="navbar-burger burger"
         aria-label="menu"
         aria-expanded="false"
         data-target="navbarBasicExample"
         #navBurger>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span *ngIf="language === 'fr'">{{'language.french' | translate}}</span>
            <span *ngIf="language === 'en'">{{'language.english' | translate}}</span>
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" (click)="useLanguage('fr')">
              {{'language.french' | translate}}
            </a>
            <a class="navbar-item" (click)="useLanguage('en')">
              {{'language.english' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer" style="flex-grow: 0; flex-shrink: 0">
    <div class="content has-text-centered">
      <p [innerHTML]="'footer.text' | translate">
      </p>
    </div>
  </footer>
</div>
